<perch:cma type="text" id="branchContactSlug" required="true" label="Slug of Branch" />
<perch:cma type="text" id="branchContactName" required="true" label="Contact Name" />
<perch:cma type="text" id="branchContactTelephone" label="Contact Telephone Number" />
<perch:cma type="text" id="branchContactEmail" label="Contact Email Address" />
<perch:cma type="text" id="branchContactFacebook" label="Contact Facebook URL" />
<perch:cma type="text" id="branchContactTwitter" label="Contact Twitter URL" />
<perch:cma type="text" id="branchContactInstagram" label="Contact Instagram URL" />
<perch:cma type="text" id="branchContactNotes" label="Notes" />
<perch:cma type="text" id="branchChair" label="Chair" />
<perch:cma type="text" id="branchVicechair" label="Vice Chair" />
<perch:cma type="text" id="branchSecretary" label="Secretary" />
<perch:cma type="text" id="branchTreasurer" label="Treasurer" />
<perch:cma type="text" id="branchPastoral" label="Pastoral" />