/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{font-family:"Fira Sans", sans-serif;line-height:1.4rem;min-width:320px;}

.restrict{max-width:1024px;margin:0 auto;display:block;position:relative;}

.contact{background:#f1f2f2;width:100%;float:left;padding:0.5rem 0px;}
.contact a,.contact p{font-weight:700;color:#3699CD;margin-bottom:0px;font-size:0.8rem;}
.contact a{float:left;text-decoration: none;line-height: 32px;}
.contact p{float:right;}
.contact p span{margin-right:1rem;}

.contact ul.account{display:inline-block;list-style:none;margin-bottom:0px;margin-left:2rem;}
.contact ul.account li{display:inline-block;margin-right:1rem;}

.contact .search{float:right;}
.contact .search label{font-size:1rem;color:#0e5a72;}
.contact .search input[type=text]{height:2rem;box-sizing:border-box;position:relative;margin-right:-5px;}
.contact .search input[type=submit]{color:#fff;background:#3699CD;border:none;height:2rem;line-height:2rem;padding:0px 2rem;float:right;font-family:"Fira Sans", sans-serif;cursor:pointer;}
.contact .search input[type=submit]:hover{background:#f1f2f2;color:#3699CD;}

.contact .goog-te-gadget-simple{float:left;margin-left:1rem;padding:0px;}
.contact .goog-te-gadget-simple a{float:none;line-height:auto;}
.contact .goog-te-gadget-simple img{margin-bottom:0;}

header{width:100%;float:left;padding:1rem 0px 0px 0px;}
header h1{text-indent:-100000px;width:640px;height:140px;float:left;background:url('/assets/images/rhb-logo.jpg') top left no-repeat;background-size:contain;margin-top:10px;}
body.cleaning header h1{text-indent:-100000px;width:640px;height:140px;float:left;background:url('/assets/images/baytown-cleaning.jpg') top left no-repeat;background-size:contain;margin-top:10px;}
header h2{display:none;}
header .reviews{float:right;width:350px;margin-top:20px;}
header .reviews p{text-align: right;color:#a7a9ac;font-size:1rem;font-weight:700;float:right;margin-bottom:0px;}
header .reviews em{text-align: right;color:#a7a9ac;font-size:1rem;font-weight:300;font-style: italic;float:right;font-size:1em;margin-bottom:0px;}
header .reviews img{clear:right;float:right;width:120px;height:auto;}
header .contact{width: auto;float:right;text-align: right;background:#fff;}
header .contact ul{list-style:none;line-height:1.4;margin-bottom: 0px;}
header .contact ul li.larger{font-size:1.4em;}
header .contact ul li.inline{display:inline-block;margin-left: 1em;margin-top:0.5em;}

header img.book{
  position:absolute;
  top:0px;
  right:220px;
  width:140px;
  height:auto;
}

header img.book:hover{
  opacity:0.7;
}

nav{width:100%;float:left;background:#3699CD;position:relative;}
body.cleaning nav{background:#777;}
nav a.menu{display:none;}
nav ul{margin:0 auto;display:block;max-width:1024px;text-align: center;font-size:1rem;}
nav ul li{display:inline-block;line-height:3rem;margin:0px 0.5rem;}
nav ul li ul{display:none;}
nav ul li a{text-decoration: none;color:#fff;}
nav ul li a:hover{color:#0e5a72;}
body.cleaning nav ul li a:hover{color:#ccc;}
nav ul li.selected,nav ul li.ancestor{border-bottom:5px solid #E7C43E;margin-bottom:-5px;}
nav ul li.selected a,nav ul li.ancestor a{font-weight:700;}
nav ul li.selected ul,nav ul li.ancestor ul{}
nav .section-nav ul{background:#0e5a72;}
body.cleaning nav .section-nav ul{background:#ccc;}
nav .section-nav ul li a{color:#fff;}
nav .section-nav ul li a:hover{color:#ccc;}
body.cleaning nav .section-nav ul li a:hover{color:#777;}

.hero{width:100%;float:left;position:relative;overflow:auto;}
.hero img{width:100%;height:auto;}
.property-search{background:#fff;padding:1rem 0px;position:relative;float:left;width:100%;margin-bottom:-2em;}
.property-search form{margin:0 auto;display:block;width:auto;position:relative;text-align: center;}
.property-search h3{display:block;text-align:center;margin-bottom:0px;line-height:2rem;font-size:0.8rem;}
.property-search label{font-size:1rem;color:#878787;font-weight:700;line-height:2rem;font-size:0.8rem;}
.property-search select{margin-right:2rem;}
.property-search input[type=checkbox]{margin-right:2em;}
.property-search input[type=submit]{background:#8CA043;color:#fff;padding:0.5rem 0.5rem;font-weight:700;text-decoration: none;border:none;font-size:0.8rem;cursor:pointer;font-family:"futura-pt", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;border-radius: 3px; box-shadow: 0px 0px 4px #7a7a7a;}
.property-search input[type=submit]:hover{background:#0e5a72;color:#fff;}
.property-search input[type=submit]:active{transform: translateY(3px);}


.page{width:100%;float:left;background:#fff;}

.row{width:100%;float:left;margin:2rem 0px;}
.row.cottage-highlights{border-bottom:2px solid #ccc;padding-bottom:1rem;background: #f1f2f2;padding-top:2em;}
.row.cottage-highlights h2.center{text-align: center;}
.row.cottage-highlights a.button{margin:0 auto;display:block;width:27%;text-align: center;}
.column{float:left;width:33.333%;padding-right:2rem;box-sizing:border-box;}
.column.two-thirds{width:66.666%;}
.column.full{width:100%;}
.row .column:last-child{padding-right:0px;}

footer .column{
	width:100%;
	padding:0;
}

footer .restrict.columns{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}

footer .copyright{
	clear:both;
	background:#0e5a72;
	padding:1rem 0;
}

footer .copyright ul{
	display:grid;
	grid-template-columns: 1fr 1fr;
	color:#fff;
	list-style: none;
	padding:0;
	margin:0;
	font-size:0.8rem;
}

footer .copyright ul li:last-child{
	text-align: right;
}

footer .copyright a{
	color:#fff;
}

footer input[type=email]{
	padding:0.5rem;
	max-width:80%;
}

@media screen and (max-width:900px){
	footer .restrict.columns{
		grid-template-columns: 1fr 1fr 1fr;
	}
	footer .restrict.columns .column:last-child{
		grid-column: 3;
		grid-row: 1;
	}
	footer .restrict.columns .column.lightwidget{
		grid-column: 1 / 4;
		padding-bottom:1rem;
	}
	footer img{
		display:none;
	}
}

@media screen and (max-width:900px){
	footer .restrict.columns{
		grid-template-columns: 1fr;
		text-align: center;
	}
	footer .restrict.columns ul{
		list-style:none;
		padding:0;
		margin:0;
		margin-bottom:1rem;
	}
	footer .restrict.columns .column:last-child{
		grid-column: 1;
		text-align: center;
	}
	footer .restrict.columns .column.lightwidget{
		grid-column: 1;	
	}
}

h1.script{font-size:2rem;margin-bottom:1rem;font-weight:400;}
h1.script a{text-decoration: none;color:#0e5a72;font-weight:400;}
h2{font-weight:700;color:#0e5a72;margin-bottom:1rem;font-size:1.4rem;}
h3{font-weight:700;color:#0e5a72;margin-bottom:1rem;}
h4{font-weight:400;color:#0e5a72;margin-bottom:1rem;font-size:1.4rem;}
h5{font-weight:400;color:#0e5a72;margin-bottom:1rem;}
p{font-size:1rem;color:#777;margin-bottom:1rem;}
p.date{font-weight:700;color:#878787;}
strong{font-weight:700;}
em{font-style: italic;}
ul{list-style-type:disc;margin-left:40px;margin-bottom:1rem;font-size:1rem;color:#777;}
ul li ul{margin-bottom:0px;}
table{border:1px solid #ccc;margin-bottom:2rem;font-size:0.9rem;font-weight:400;}
table tr:first-child{font-weight:700;}
table tr td{border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:0.5rem;box-sizing:border-box;}
table tr td:last-child{border-right:none;}
table tr td p{margin-bottom:0px;}

.vevent{width:100%;float:left;margin-bottom:40px;}

.paginate-hide .paging{display:none;}
.paginate-hide ul.hfeed li{border-bottom:none;}
.paging{clear:both;border-top:1px solid #ccc;padding-top:2rem;}
.paging p{text-align: center;line-height:2rem;}
a.prev{float:left;margin-left:1.666%;}
a.next{float:left;margin-right:1.666%;}

ul.hfeed{margin-left:0px;list-style-type: none;}
ul.hfeed li{margin-bottom:2rem;padding-bottom:1rem;border-bottom:1px solid #ccc;}

.page a{color:#8CA043;}
.page a:hover{color:#0e5a72;}

.fb-page.fb_iframe_widget{max-width:100% !important;}

img{margin-bottom:1rem;max-width:100%;height:auto;}

a.button{background:#8CA043;color:#fff;padding:0.5rem 1rem;font-weight:700;text-decoration: none;border-radius: 3px; box-shadow: 0px 0px 4px #7a7a7a;}
a.button:hover{background:#0e5a72;color:#fff;}
a.button:active{transform: translateY(3px);}

a.button.right{float:right;margin-top:-5px;}

footer{width:100%;float:left;padding-top:2rem;background:#E7C43E;}
footer h3,footer p{color:#333;}
footer p{font-size:1rem;}
footer p.smaller{font-size:0.8rem;line-height:120%;}
footer a{color:#333;}
footer a:hover{color:#fff;}
footer .align-right{text-align: right;}
footer img{max-width:255px;margin:1rem 0;}

iframe,.fb_iframe_widget{margin-bottom:2rem;}

.cottages-grid{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}
.cottage{width:100%;box-sizing:border-box;position:relative;margin-bottom:2rem;}

.cottage-highlights .cottage{}
.cottage-highlights p{clear:both;padding-top:2rem;}

.cottage img{margin-bottom:-5px;}
.cottage img:hover{opacity: 0.8;}
.cottage .title h2{font-size:1.2rem;}
.cottage .title h2 a{text-decoration:none;color:#fff;}
.cottage .title h2 a:hover{color:#E7C43E;}
.cottage .title{background:#3699CD;padding:0.5rem;box-sizing:border-box;float:left;width:100%;height:60px;}
.cottage .text{background:#3699CD;padding:0.5rem;box-sizing:border-box;float:left;width:100%;min-height:80px;}
.cottage .text ul.facilities{color:#fff;font-size:1rem;margin-bottom:0px;}
.cottage .text ul.facilities li{margin-right:0.5rem;color:#fff;font-size:0.6rem;}
.cottage .text ul.facilities li:last-child{margin-right:0px;}
.cottage p.price{position:absolute;top:60px;right:0px;background:#fff;padding:0.5rem 1rem;color:#8CA043;font-size:1rem;}

.cottage.mini{width:100%;float:left;padding:0px;margin:0px;margin-bottom:4rem;
}
.cottage.mini .title{grid-column: span 2;grid-row:1;height:auto;}
.cottage.mini .title h2{margin-bottom:0px;height:auto;color:#fff;}
.cottage.mini .title h2 span{font-weight:400;font-size:1rem;}
.cottage.mini a{min-height:240px;display:flex;align-items:center;justify-content:center;overflow:hidden;height:240px;width:100%;}
.cottage.mini a img{width:100%;height:auto;display:block;margin-bottom:-5px;}
.cottage.mini .text{margin-top:-10px;position: relative;z-index:2000;min-height:0px;height:auto;}

.tabs{float:left;width:100%;padding:1rem;box-sizing:border-box;background:#f1f2f2;}
.tabs ul.tab-control{margin-left:0px;list-style-type:none;text-align: center;margin-bottom:1rem;float:left;width:100%;}
.tabs ul.tab-control li{float:left;width:16.666%;font-weight:700;background:#f1f2f2;padding:1rem 0px;box-sizing:border-box;border-right:5px solid #f1f2f2;}
.tabs ul.tab-control li.active{background:#fff;}
.tabs ul.tab-control li:last-child{border-right:0px;}
.tabs .tab{float:left;width:100%;}
.tabs .tab.pricing table{width:100%;float:left;}
.tabs .tab.pricing table tr:nth-child(odd){background:#f1f2f2;}
.tabs .tab.pricing table tr td{padding:5px;}
.tabs .tab.pricing table tr input[type=submit]{margin-bottom:0px;}
.tabs .tab.pricing table tr input[type=text]{width:65px;}
.tabs .tab.pricing table tr input[type=text].smaller{width:25px;}

ul.facilities{margin-left:0px;list-style-type: none;width:100%;display:block;float:left;}
ul.facilities li{display:inline-block;float:left;margin-right:2rem;font-size:1rem;line-height:2rem;color:#878787;text-indent:1.8rem;}
ul.facilities li.sleeps{background:url('/assets/images/sleeping.png') center left no-repeat;background-size:24px;}
ul.facilities li.location{background:url('/assets/images/location.png') center left no-repeat;background-size:24px;}
ul.facilities li.wifi{background:url('/assets/images/wifi.png') center left no-repeat;background-size:24px;}
ul.facilities li.pets{background:url('/assets/images/pets.png') center left no-repeat;background-size:24px;}
ul.facilities li.parking{background:url('/assets/images/parking.png') center left no-repeat;background-size:24px;}

h2.property-name a{color:#0e5a72;text-decoration: none;float:left;margin-bottom: 20px;}

.page form{}
.page form label{font-size:1rem;color:#878787;margin-bottom:0.5rem;width:100%;display:block;font-weight:700;}
.page form div span{color:#880000;font-weight:700;float:left;width:100%}
.page form select{width:70%;margin-bottom:1rem;}
.page input[type=text],.page input[type=password],.page input[type=email]{width:100%;margin-bottom:1rem;box-sizing:border-box;font-size:1rem;padding:4px;}
.page input[type=submit],footer input[type=submit]{background:#8CA043;color:#fff;padding:0.5rem 1rem;font-weight:700;text-decoration: none;margin-bottom:2rem;border:none;font-size:1rem;cursor:pointer;font-family:"futura-pt", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;border-radius: 3px; box-shadow: 0px 0px 4px #7a7a7a;}
.page input[type=submit]:hover,footer input[type=submit]:hover{background:#0e5a72;color:#fff;}


footer input[type=email]{
	margin-bottom:1rem;
	width:100%;
}

.display{width:100%;height:510px;margin-bottom:2rem;}
a.more-cottages{text-decoration: none;font-size:0.8rem;color:#ccc;}

ul.control{margin-left:0px;list-style-type:none;text-align: center;width:100%;font-size:1.6rem;clear:both;}
ul.control li{display:inline-block;margin:0px 30px;}

.yearly-calendar, .monthly-calendar{width:100%;float:left;position: relative;}
.yearly-calendar table, .monthly-calendar table{float:left;width:45%;margin:2.5%;box-sizing: border-box;text-align: center;background:#fff;font-weight:700;}
.monthly-calendar table{float:left;width:100%;margin:0%;box-sizing: border-box;text-align: center;}
.yearly-calendar table tr, .monthly-calendar table tr{height:30px;}
.yearly-calendar table:nth-child(even){clear:left;}
.monthly-calendar table tr td.ar{padding:0px;}
.yearly-calendar table tr td.un, .monthly-calendar table tr td.un{background:#c10000;color:#fff;}
.yearly-calendar table tr td.av, .monthly-calendar table tr td.av{background:#8CA043;color:#fff;}
.monthly-calendar table tr td.av.arrival{background:#b8d31a;color:#fff;}
.monthly-calendar table tr td.av.arrival a{color:#fff;font-weight:700;}
.yearly-calendar table tr td.ar, .monthly-calendar table tr td.ar{background:#b8d31a;color:#fff;}
.monthly-calendar table tr td.ar{background:#b8d31a;color:#fff;}
.monthly-calendar table tr td.ar a{color:#fff;font-weight:700;}
.yearly-calendar table tr td a{display:block;width:100%;height:100%;text-decoration: none;color:#fff;}
.yearly-calendar table tr td a:hover{color:#ccc;}

.monthly-calendar table tr td.ar input[type=submit],.yearly-calendar table tr td.ar input[type=submit]{margin:0;padding:0.5rem;background:transparent;border:none;box-shadow:none;font-size:0.9rem;}
.monthly-calendar table tr td.ar:hover{background:#fff;}
.monthly-calendar table tr td.ar:hover input[type=submit]{color:#b8d31a;}

table.key{margin-top:20px;}
table.key.clear{clear:both;max-width:400px;}

table.key tr td.ar{padding:0.5rem;}
table.key tr td.ar:hover{background:#b8d31a;color:#fff;}

.enquiry-form{width:100%;float:left;border:2px dashed #ccc;margin-top:2rem;margin-bottom:2rem;padding:1rem;box-sizing: border-box;}
.enquiry-form h3{line-height:1.7;color:#777;text-align: center;font-size:2rem;margin-bottom:0px;}
.enquiry-form a.button{width:100%;font-size:1.4rem;text-align: center;box-sizing: border-box;padding:1rem;margin-bottom:0px;float:left;}
.enquiry-form p.success{text-align: center;color:green;}
.enquiry-form h3.success{color:#8ad81c;}
.enquiry-form input[type=text]{width:100%;margin-bottom:1rem;box-sizing:border-box;font-size:1rem;padding:4px;}
.enquiry-form textarea{width:100%;font-size:0.8rem;font-family:'Fira Sans', sans-serif;padding:0px;border:1px solid #ccc;margin-bottom:0.5rem;}

p.success{
	background:#8ba042;
	color:#fff;
	padding:1rem;
	margin-bottom:2rem;
}

p.success a{
	color:#eee;
	border-bottom:1px solid #eee;
	text-decoration: none;
}

p.success a:hover{
	color:#e7c43e;
	border-bottom:1px solid #e7c43e;
}

a.last{float:left;}
a.next{float:right;}

.all-calendars{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:1rem;
  grid-row-gap:1rem;
}

.all-calendars .monthly-calendar table{
  width:100%;
}

@media screen and (max-width:800px){
  .all-calendars{
    grid-template-columns:1fr 1fr;
  }
  .cottages-grid{
	grid-template-columns: 1fr 1fr;
  }
  .cottage-highlights .cottage:nth-child(2){display:none;}
}

@media screen and (max-width:600px){
  .all-calendars{
    grid-template-columns:1fr;
  }
  .cottages-grid{
	grid-template-columns: 1fr;
  }
}

table tr td.larger{
  font-size:1.1rem;
}

ul.amenities{list-style:none;margin-left:0px;column-count:3;column-gap:10px;}
ul.amenities li{border-bottom:1px solid #ccc;margin-bottom:5px;}
ul.amenities li.title{font-weight:700;color:#777;font-style: italic;}

ul.calendar-nav{list-style:none;margin-left:0;display:grid;grid-template-columns: 1fr 1fr 1fr;background:#f1f2f2;border:1px solid #ccc;padding-bottom:1rem;padding-top:1rem;margin-bottom:0;border-bottom:none;}
ul.calendar-nav li{display:inline-block;text-align: center;}
table.calendar{width:100%;}
table.calendar tr{border-bottom:1px solid #ccc;}
table.calendar tr th{width:14.28%;background:#f1f2f2;}
table.calendar tr td{}

.galleria-stage{background:transparent !important;border:1px solid #ccc;}
.galleria-bar{border-top:1px solid #ccc !important;}

.form_section{
  padding:1rem;
  width:100%;
  box-sizing:border-box;
  border:1px solid #eee;
  background:#f1f2f2;
  margin-bottom:4rem;
  float:left;
}

.form_section.error{
  border:1px solid #880000;
  background:#FFEBEB;
}

.form_section.form_grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1rem;
}

.form_section.form_grid h3{
	grid-column: span 2;
}

p.partyError{color:#880000;}

.split-form{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap:1rem;
  grid-row-gap:1rem;
}

.split-form h2.span{
	grid-column: 1 / 3;
	border-bottom:1px solid #ccc;
	padding-bottom:1rem;
}

p.error{
  color:#880000;
  border:1px solid #880000;
  background:#FFEBEB;
  padding:0.5rem;
}

svg.cards{
  width:100px;
  height:auto;
  margin-bottom:0.5rem;
}

@media screen and (max-width:1050px){
	.restrict{padding:0px 1rem;}
	header .reviews{display:none;}
}

@media screen and (max-width:975px){
	header h1,body.cleaning header h1{width:50%;height:80px;}
	nav ul li{margin:0px 1rem;}
	.hero{height:300px;}
	.property-search h3{font-size:1rem;}
	.display{height:450px;}
	.yearly-calendar table, .monthly-calendar table{width:95%;}
	.property-search select{margin-right:0.5rem;}
	.property-search input[type=checkbox]{margin-right:0.5em;}
  .contact .search{display:none;}
}

@media screen and (max-width:900px){
	.property-search select{margin-right:1rem;}	
}

@media screen and (max-width:840px){
	header .reviews{display:none;}
	nav ul li{font-size:1rem;margin: 0px 10px;}
	.hero{height:200px;}	
	.display{height:350px;}
	a.button.right{float:left;clear:left;}
}

@media screen and (max-width:820px){
	.property-search form h3{display:block;width:100%;}	
	.property-search input[type=submit]{float:none;}
}

@media screen and (max-width:740px){
	header h1,body.cleaning header h1{height:80px;float:none;margin:0 auto;background-position: center center;width:100%;}
	header .search{position:absolute;top:190px;height:3.5rem;left:0px;padding-left:1rem;z-index:2000;background:#f1f2f2;}
	header .search form{margin-top:0.9rem;padding-right:0.9rem;}
	header .contact ul li{display:none;}
	header .contact ul li.inline{display:inline-block;font-size:1rem;}
	.column,.column.two-thirds{width:100%;margin-bottom:2rem;padding-right: 0px;}	
	nav{overflow: hidden;padding-bottom:1px;}
	nav ul li{width:100%;text-align: left;box-sizing: border-box;}
	nav ul li ul{display:block;}
	.section-nav{display:none;}
	nav a.menu{display:block;float:right;margin:1rem;text-transform:uppercase;color:#fff;cursor:pointer;}
	.property-search{display:none;}
  .page form label,.page form select{width:100%;}
  header img.book{top:90px;left:30px;z-index:200;width:90px;}
  .contact ul.account{margin-left:0px;}
  .contact ul.account li{margin-right:0px;}
  .split-form{
	  grid-template-columns: 1fr;
  }
  .split-form h2.span{
	  grid-column: 1;
}
}

@media screen and (max-width:630px){
  .contact ul{
    display:block;
    margin-left:0px;
    clear:both;
  }  
  .form_section.form_grid{
	grid-template-columns: 1fr;
}
.form_section.form_grid h3{
	grid-column: 1;
}
}

@media screen and (max-width:580px){
  .hero{height:170px;}
	.row.cottage-highlights .cottage{width:100%;margin:1rem 0px;}	
	.contact a{width:100%;text-align: center;}
	.contact .goog-te-gadget-simple{float:none;display:block;margin:0 auto;float:left;width:100%;}
  .contact ul{
    width:100%;
    text-align:center;
  }
  .row.cottage-highlights a.button{
    width:80%;
  }
  .cottage.mini a{min-height:180px;height:180px;}
}

@media screen and (max-width:480px){
  .hero{height:120px;}
	.contact p span{display: none;}
	.tabs ul.tab-control{font-size:0.8rem;}
}

@media screen and (max-width:420px){
	.tabs ul.tab-control li{width:50%;border-bottom:5px solid #fff;}
	.tabs ul.tab-control li:nth-child(2){border-right:none;}
}

@media screen and (max-width:395px){
  .hero{height:90px;}
	header h1,body.cleaning header h1{margin-left:-10px;}
	.contact p{display: none;}
	.contact a{text-align: center;width:100%;}
	header .search input[type=submit]{padding:0px 1rem;}
}

@media screen and (max-width:365px){
	header .search input[type=text]{width:80px;}
}

form.review select{
	font-size:2rem;
	max-width:300px;
}

form.review select option{
	padding:0.2rem;
}

form.review textarea{
	width:100%;
	height:200px;
	border-radius:3px;
	border:2px solid #ccc;
	margin-bottom:2rem;
	font-family:"Fira Sans", sans-serif;
	line-height:1.4rem;
	font-size:1.2rem;
	padding:0.3rem;
}

.reviews-block{
  width:100%;
  float:left;
  background:#eee;
  padding:1rem;
  box-sizing:border-box;
}

.review{
  width:100%;
  float:left;
  border-bottom:1px dotted #ccc;
  padding-bottom:1rem;
  margin-bottom:1rem;
}

.review p.rating{
  font-size:3rem;
  color:#e7c43e;
}

.review p.rating i{
  margin-right:0.5rem;
}

.review p{
  font-size:1.2rem;
  font-weight:700;
}

.sharethis-inline-share-buttons{
	margin-bottom:1rem;
}

.cottage-highlights p.discount,
p.discount{
	position:absolute;
	bottom:1px;
	left:0px;
	background:#880000;
	color:#fff;
	padding:0.2rem;
	font-size:0.8rem;
	margin-bottom:0px;
	text-transform: capitalize;
}

.cottage-link{
	position:relative;
	display:block;
}

.discount-label{
	float: right;
	margin-right: 1rem;
	color: #800;
	font-weight: 700;
	margin-top: 4px;
	text-transform: capitalize;
}

@media screen and (max-width:430px){
	.discount-label{
		display:block;
		width:100%;
		padding:1rem 1rem 0;
		margin-bottom:0;
		box-sizing: border-box;
		display:none;
	}
}

.galleria-container:hover .galleria-image-nav-right{
	background: #000 url('/assets/galleria/themes/azur/right.png') center center no-repeat !important;
	opacity: 1 !important;
}

.galleria-container:hover .galleria-image-nav-left{
	background: #000 url('/assets/galleria/themes/azur/left.png') center center no-repeat !important;
	opacity: 1 !important;
}

.galleria-image-nav-right:hover,
.galleria-image-nav-left:hover{
	opacity: 1 !important;
}

.loading{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(3px);
}

.loading p{
	color:#fff;
	font-weight:700;
	text-shadow: 0px 0px 3px #000;
}

.textarea{
	clear:both;
}